:root {
  --white-1: #fff;
  --white-2: #ddd;
  --white-3: #bbb;
  --black-1: #000;
  --black-2: #222;
  --grey-1: #999;
  --grey-2: #777;
  --grey-3: #555;
  --grey-4: #444;
  --primary-1: #2db3e0;
  --primary-2: #167494;
  --secondary-1: #43e059;
  --secondary-2: #349441;
  --tertiary: #ea5f39;

  --header-height: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  color: var(--black-2);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: var(--black-1);
}

p {
  color: var(--black-2);
}

a {
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--tertiary);
}

body {
  background: linear-gradient(
    to bottom,
    var(--bg-primary) 60%,
    var(--bg-secondary)
  );
  min-height: 100vh;
  width: 100%;
}

.base-layout-slot {
  padding-top: var(--header-height);
  height: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

/*Header Styling*/

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, var(--primary-2) 60%, var(--primary-1));
  box-shadow: 0px -5px 10px 11px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-links {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: -100px;
  left: 0;
  width: 100%;
  background-color: var(--black-2);
  padding-block: 0.5rem;

  transition: top 0.3s ease;
}

.nav-links a {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-inline-end: 1rem;
  color: var(--white-2);

  transition: color 0.1s;
}

.nav-links a:hover{
  color: var(--tertiary);
}

.nav-links a.active {
  text-decoration: underline;
  color: var(--tertiary);
}

.nav-links span {
  display: block;
  width: 90%;
  background-color: var(--grey);
  height: 0.2rem;
  border-radius: 0.1rem;
}

.hamburger {
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: var(--white-2);
}

.expanded {
  top: var(--header-height);
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: static;
    flex-direction: row;
    background-color: transparent;
  }
  .nav-links span {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
