---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/about.css"

const pageTitle = "About";
---

<BaseLayout title={pageTitle}>
  <div class="about-body">
    <h1>About</h1>
    <p>This is a small portfolio site for Rhys Gray.</p>
  </div>
</BaseLayout>
