---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio-Site" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="../../favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="base-layout-slot">
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/nav-menu.js"
    </script>
  </body>

</html>
